@inject IJSRuntime JS
@implements IAsyncDisposable

<scale-modal
  heading="Edit Event"
  id="@nameof(EventEditor)"
  size="small"
>
  <p>Hello. Welcome. What a pleasure it is to have you.</p>
</scale-modal>

<scale-button @onclick="openModal" size="small">
  <scale-icon-action-edit accessibility-title="edit" />
  Edit
</scale-button>
