@inject IJSRuntime JS
@implements IAsyncDisposable

<scale-modal
  heading="Edit Event"
  id="@nameof(EventEditor)"
  size="small">
  <EditForm Model="model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <InputNumber class="hidden" @bind-Value="model.EventId" />

    <div>
      <label for="title">Title:</label>
      <InputText @bind-Value="model.Title" id="title" />
      <ValidationMessage For="@(() => model.Title)" />
    </div>
    
    <div>
      <label for></label>
    </div>

  </EditForm>
</scale-modal>

<scale-button @onclick="openModal" size="small">
  <scale-icon-action-edit accessibility-title="edit" />
  Edit
</scale-button>
