@using Microsoft.EntityFrameworkCore
@using StatusDashboard.Services
@implements IAsyncDisposable
@inject IDbContextFactory<StatusContext> context;

<scale-table class="rounded-md bg-white p-6 shadow-md">
  <table>
    <thead>
    <tr>
      <th>Updates</th>
      <th>Information</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="flex flex-col">
        <label class="font-medium">
          @EventStatus.Investigating
        </label>

        <label>
          @DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm 'UTC'")
        </label>
      </td>

      <td class="text-pretty">
        There was a Major incident on sd2 regarding the RTS service in EU-DE region. The service had no problem from Grafana side.
        There was a Major incident on sd2 regarding the RTS service in EU-DE region. The service had no problem from Grafana side.
      </td>
    </tr>

    <tr>
      <td class="flex flex-col">
        <label class="font-medium">
          @EventStatus.Resolved
        </label>

        <label>
          @DateTime.Now.ToString("yyyy-MM-dd HH:mm 'UTC'")
        </label>
      </td>

      <td class="text-pretty">
        Incident Resolved
      </td>
    </tr>
    </tbody>

  </table>
</scale-table>
