@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb

<scale-table>
  <table>
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Affected Regions</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var (service, regions) in list)
      {
        <tr>
          <td>
            @service
          </td>

          <td>
            @string.Join(", ", regions)
          </td>
        </tr>
      }
    </tbody>

  </table>
</scale-table>
