@using System.Globalization
@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb

<scale-table class="rounded-md bg-white p-6 shadow-md">
  <table>
    <thead>
    <tr>
      <th>Updates</th>
      <th>Information</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var history in list)
    {
      <tr>
        <td class="flex flex-col">
          <label class="font-medium">
            @history.Status
          </label>

          <label>
              @history.Created.ToUniversalTime().ToString("yyyy-MM-dd HH:mm 'UTC'", CultureInfo.InvariantCulture)
          </label>
        </td>

        <td class="text-pretty">
          @history.Message
        </td>
      </tr>
    }
    </tbody>

  </table>
</scale-table>
