@using Microsoft.EntityFrameworkCore
@using StatusDashboard.Services
@implements IAsyncDisposable
@inject IDbContextFactory<StatusContext> context;

<scale-table class="relative">
  <table>
    <thead class="sticky top-16">
      <tr>
        <th class="!text-lg" rowspan="2" scope="col">
          Category
        </th>

        <th class="!text-lg" rowspan="2" scope="col">
          Service
        </th>

        <th class="!py-2 !text-center !text-lg" colspan="6" scope="colgroup">
          Availability, %
        </th>
      </tr>

      <tr>
        @foreach (var month in get6Months())
        {
          <th class="!pb-1 !text-lg !text-center w-1/12" scope="col">
            @((MarkupString)month)
          </th>
        }
      </tr>
    </thead>

    <tbody>
    @foreach (var i in categories)
    {
      <CategoryGroup Category="@i" />
    }
    </tbody>

  </table>
</scale-table>

<template>
  <p class="bg-emerald-100 hover:bg-emerald-200" />
  <p class="bg-amber-100 hover:bg-amber-200" />
  <p class="bg-rose-100 hover:bg-rose-200" />
</template>
