@using Microsoft.EntityFrameworkCore
@using StatusDashboard.Services
@implements IAsyncDisposable
@inject IDbContextFactory<StatusContext> context;

<scale-table class="relative">
  <table>
    <thead class="sticky top-16">
      <tr>
        <th class="!text-lg" rowspan="2" scope="col">
          Category
        </th>

        <th class="!text-lg" rowspan="2" scope="col">
          Service
        </th>

        <th class="!py-2 !text-center !text-lg" colspan="6" scope="colgroup">
          Availability, %
        </th>
      </tr>

      <tr>
        <th class="!pb-1 !text-lg !text-center w-1/12" scope="col">
          2023 <br /> December
        </th>

        <th class="!pb-1 !text-lg !text-center w-1/12" scope="col">
          2024 <br />January
        </th>

        <th class="!pb-1 !text-lg !text-center !w-1/12" scope="col">
          2024 <br /> February
        </th>

        <th class="!pb-1 !text-lg !text-center !w-1/12" scope="col">
          2024 <br /> March
        </th>

        <th class="!pb-1 !text-lg !text-center !w-1/12" scope="col">
          2024 <br /> April
        </th>

        <th class="!pb-1 !text-lg !text-center !w-1/12" scope="col">
          2024 <br /> May
        </th>
      </tr>
    </thead>

    <tbody>
      <CategoryItem />
      <CategoryItem />
      <CategoryItem />
      <CategoryItem />
      <CategoryItem />
      <CategoryItem />
      <CategoryItem />
      <CategoryItem />
    </tbody>

  </table>
</scale-table>
