<tr>
  <td rowspan="2" class="text-lg">Application Services</td>

  <td class="text-lg">Application Operations Management</td>

  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
</tr>

<tr>
  <td class="text-lg">Distributed Message Service</td>

  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
  <td>
    <scale-tag color="teal">100.00</scale-tag>
  </td>
</tr>
