<tr>
  <td rowspan="2" class="text-lg">Application Services</td>

  <td class="text-lg">Application Operations Management</td>
  
  @for (var i = 0; i < 6; i++)
  {
    <td class="border-l bg-green-100 text-center hover:bg-green-200">
      100.00
    </td>
  }
</tr>

<tr>
  <td class="text-lg">Distributed Message Service</td>
  
  @for (var i = 0; i < 6; i++)
  {
    <td class="border-l bg-emerald-100 text-center hover:bg-emerald-200">
      100.00
    </td>
  }
</tr>
