@inherits LayoutComponentBase

<div class="absolute flex min-h-full w-full min-w-96 flex-col bg-zinc-50">
  <TopNavBar />

  <main class="mx-auto flex w-full max-w-screen-xl flex-col gap-y-8 px-3 pt-8">
    @Body
  </main>

  <PageFooter />
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a class="reload" href="">Reload</a>
  <a class="dismiss">🗙</a>
</div>
