<scale-telekom-footer type="minimal" class="pt-6">
  <scale-telekom-footer-content>
    <span slot="notice"> © Deutsche Telekom AG </span>
    <ul slot="navigation">
      <li>
        <a href="https://open-telekom-cloud.com/en/imprint">Imprint</a>
      </li>
      <li>
        <a href="https://open-telekom-cloud.com/en/data-protection">Data privacy</a>
      </li>
      <li>
        <a href="https://open-telekom-cloud.com/en/disclaimer-of-liability">Disclaimer of liability</a>
      </li>
      <li>
        <a href="https://open-telekom-cloud.com/en/contact">Contact</a>
      </li>
    </ul>
  </scale-telekom-footer-content>
</scale-telekom-footer>
