<scale-telekom-nav-item hide-on-mobile>
  
  <scale-menu-flyout>
    <FluentButton slot="trigger" Appearance="Appearance.Stealth">
      <scale-icon-user-file-user accessibility-title="Menu" />
    </FluentButton>

    <scale-menu-flyout-list>
      <scale-menu-flyout-item>
        <a class="text-black no-underline" href="/NewEvent">
          Login
        </a>
      </scale-menu-flyout-item>

      <scale-menu-flyout-item>
        <a class="text-black no-underline" href="/NewEvent">
          New Event
        </a>
      </scale-menu-flyout-item>
    </scale-menu-flyout-list>
  </scale-menu-flyout>

</scale-telekom-nav-item>
