#TopNavBar {
  background-color: var(--telekom-color-primary-standard)
}

#TopNavBar .Container {
  max-width: 1636px
}

#TopNavBar .Logo {
  height: var(--logo-size);
}

#TopNavBar,
scale-button[variant='ghost'] {
  --color-ghost: var(--telekom-color-text-and-icon-white-standard);
  --color-ghost-hover: var(--telekom-color-text-and-icon-white-standard);
  --color-ghost-active: var(--telekom-color-text-and-icon-white-standard);
  --color-focus: var(--telekom-color-text-and-icon-white-standard);
}

#TopNavBar,
scale-button[variant='ghost']::part(base):hover {
  --font-weight: var(--telekom-typography-font-weight-extra-bold);
}
