<scale-telekom-header
  app-name="Open Telekom Cloud"
  app-name-link="/"
  logo-href="/"
  slot="header"
  type="slim">

  <scale-telekom-nav-list aria-label="Main Navigation Links" slot="main-nav">
    <NavItem href="/History" Label="History" />
    
    <NavItem href="/Availability" Label="Availability" />

    <scale-telekom-nav-item aria-label="Docs">
      <a href="https://docs.otc.t-systems.com/status-dashboard/index.html" target="_black">
        Docs
      </a>
    </scale-telekom-nav-item>
  </scale-telekom-nav-list>

  <scale-telekom-nav-list alignment="right" aria-label="Functions Menu" slot="functions" variant="functions">
    <ProfileMenu />
    <MobileMenu />
  </scale-telekom-nav-list>

</scale-telekom-header>
