<header id="TopNavBar" class="fixed left-0 top-0 z-50 h-16 w-full px-8 shadow-md">
  <nav class="Container mx-auto flex h-full items-center">
    <scale-logo variant="white" />
    123
  </nav>
</header>

@code {

}
