@{
  const string docsLink = "https://docs.otc.t-systems.com/status-dashboard/index.html";
}

<scale-telekom-header
  app-name="Open Telekom Cloud"
  app-name-link="/"
  logo-href="/"
  slot="header"
  type="slim">

  <scale-telekom-nav-list aria-label="Main Navigation Links" slot="main-nav">
    <scale-telekom-nav-item aria-label="History">
      <NavLink href="/History">History</NavLink>
    </scale-telekom-nav-item>

    <scale-telekom-nav-item active aria-label="Availability">
      <NavLink href="/Availability">Availability</NavLink>
    </scale-telekom-nav-item>

    <scale-telekom-nav-item aria-label="Docs">
      <a href="@docsLink" target="_black">Docs</a>
    </scale-telekom-nav-item>

    <scale-telekom-nav-item aria-label="New Event">
      <NavLink href="/NewEvent">New Event</NavLink>
    </scale-telekom-nav-item>
  </scale-telekom-nav-list>

  <scale-telekom-nav-list alignment="right" aria-label="Functions Menu" slot="functions" variant="functions">
    <scale-telekom-profile-menu
      accessibility-label="Login"
      app-name="Application"
      label="Login"
      logged-in="false"
      login-label="Log in"
      login-url="https://www.telekom.de/todo/login" />

    <scale-telekom-nav-item hide-on-desktop>
      <button>
        <scale-icon-action-menu accessibility-title="Menu" />
      </button>

      <scale-telekom-nav-flyout>
        <scale-telekom-mobile-flyout-canvas>
          <scale-telekom-mobile-menu slot="mobile-main-nav">

            <scale-telekom-mobile-menu-item aria-label="History">
              <NavLink href="/History">History</NavLink>
            </scale-telekom-mobile-menu-item>

            <scale-telekom-mobile-menu-item aria-label="Availability">
              <NavLink href="/Availability">Availability</NavLink>
            </scale-telekom-mobile-menu-item>

            <scale-telekom-mobile-menu-item aria-label="Docs">
              <a href="@docsLink" target="_black">Docs</a>
            </scale-telekom-mobile-menu-item>

            <scale-telekom-mobile-menu-item aria-label="New Event">
              <NavLink href="/NewEvent">New Event</NavLink>
            </scale-telekom-mobile-menu-item>

          </scale-telekom-mobile-menu>
        </scale-telekom-mobile-flyout-canvas>
      </scale-telekom-nav-flyout>

    </scale-telekom-nav-item>
  </scale-telekom-nav-list>

</scale-telekom-header>
