@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb
@inject IJSRuntime JS

<section class="flex flex-col" id="RegionSelector">
  <div class="flex items-center justify-between">
    <label class="text-3xl font-medium text-slate-800">
      @Title
    </label>

    <scale-tab-nav>
      @foreach (var item in regions)
      {
        <scale-tab-header key="@item.Name" slot="tab" onclick="onRSClick(this)">
          @item.Name
        </scale-tab-header>
        <scale-tab-panel class="hidden" slot="panel" />
      }
    </scale-tab-nav>
  </div>

  <scale-divider />
</section>

<script>
  function injectRS(rsRef, name) {
    window.onRSClick = (elem) => {
      const key = elem.getAttribute("key");
      rsRef.invokeMethodAsync(name, key);
    }
  }
</script>
