@using StatusDashboard.Components.Event
<li class="flex items-center py-2">
  <Indicator Type="@Type" />

  <label class="ml-2 text-xl font-medium text-slate-700">
    @Name
  </label>
</li>

@code {
  [Parameter] [EditorRequired] public EventType Type { get; set; }

  [Parameter] [EditorRequired] public string? Name { get; set; }
}
