<li class="flex items-center py-2">
  <Indicator Type="@Type" />

  <label class="ml-2 text-xl font-medium text-slate-700">
    @Name
  </label>
</li>

@code {
  [Parameter] public StatusType Type { get; set; }

  [Parameter] public string Name { get; set; }
}
