@using StatusDashboard.Components.Event
@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb

<li class="flex items-center py-2">
  @if (future)
  {
    <a class="flex h-6" href="/Event/@id">
      <FluentCounterBadge
        Dot="true"
        Style="background: royalblue; border: none">
        <Indicator Type="EventType.Operational"/>
      </FluentCounterBadge>
    </a>
  }
  else
  {
    @if (id is null)
    {
      <Indicator Type="@type"/>
    }
    else
    {
      <a class="flex items-center" href="/Event/@id">
        <Indicator Type="@type"/>
      </a>
    }
  }

  <label class="ml-2.5 text-xl font-medium text-slate-700">
    @RegionService.Service.Name
  </label>
</li>
