<div class="flex flex-col overflow-hidden rounded-md bg-white px-3.5 py-5 shadow-md">
  <h3 class="px-3.5 text-2xl font-medium text-slate-800">
    Application Services
  </h3>

  <scale-divider />

  <ul class="px-3.5">
    <ServiceItem Name="Operational Service" Type="StatusType.Operational" />

    <ServiceItem Name="Maintenance Service" Type="StatusType.Maintenance" />

    <ServiceItem Name="MinorIssue Service" Type="StatusType.MinorIssue" />

    <ServiceItem Name="MajorIssue Service" Type="StatusType.MajorIssue" />

    <ServiceItem Name="Outage Service" Type="StatusType.Outage" />
  </ul>
</div>
