@using Microsoft.EntityFrameworkCore
@using StatusDashboard.Services
@implements IAsyncDisposable
@inject IDbContextFactory<StatusContext> context;

<div class="flex h-fit flex-col rounded-md bg-white px-3.5 py-5 shadow-md">
  <h3 class="px-3.5 text-2xl font-medium text-slate-800">
    @Category.Name
  </h3>

  <scale-divider class="h-auto" />

  <ul class="px-3.5">
    @foreach (var item in services)
    {
      <ServiceItem RegionService="item" />
    }
  </ul>
</div>
