<div class="flex flex-col overflow-hidden rounded-md bg-white px-3.5 py-5 shadow-md">
  <h3 class="px-3.5 text-2xl font-medium text-slate-800">
    Application Services
  </h3>

  <scale-divider />

  <ul class="px-3.5">
    <li class="flex items-center py-2">
      <Indicator Type="StatusType.Operational" />

      <label class="ml-2 text-xl font-medium text-slate-700">
        Operational Service
      </label>
    </li>

    <li class="flex items-center py-2">
      <Indicator Type="StatusType.Maintenance" />

      <span class="ml-2 text-xl font-medium text-slate-700">
        Maintenance Service
      </span>
    </li>
    
    <li class="flex items-center py-2">
      <Indicator Type="StatusType.MinorIssue" />

      <span class="ml-2 text-xl font-medium text-slate-700">
        MinorIssue Service
      </span>
    </li>
    
    <li class="flex items-center py-2">
      <Indicator Type="StatusType.MajorIssue" />

      <span class="ml-2 text-xl font-medium text-slate-700">
        MajorIssue Service
      </span>
    </li>
    
    <li class="flex items-center py-2">
      <Indicator Type="StatusType.Outage" />

      <span class="ml-2 text-xl font-medium text-slate-700">
        Outage Service
      </span>
    </li>
  </ul>
</div>

@code {

}
