<div class="flex flex-col overflow-hidden rounded-md bg-white px-3.5 py-5 shadow-md">
  <h3 class="px-3.5 text-2xl font-medium text-slate-800">
    Application Services
  </h3>

  <scale-divider />

  <ul class="px-3.5">
    <li class="flex items-center py-2">
      <scale-icon-action-success
        accessibility-title="success"
        fill="var(--telekom-color-text-and-icon-functional-success)" />

      <label class="ml-2 text-xl font-medium text-slate-700">
        Distributed Message Service
      </label>
    </li>

    <li class="flex items-center py-2">
      <scale-icon-action-success
        accessibility-title="success"
        fill="var(--telekom-color-text-and-icon-functional-success)" />

      <span class="ml-2 text-xl font-medium text-slate-700">
        Simple Message Notification
      </span>
    </li>
  </ul>
</div>

@code {

}
