@{
  const string cdn = "https://cdn.jsdelivr.net/npm/@telekom/scale-components@3.0.0-beta.151/dist/scale-components/scale-components.";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <base href="/" />

  <script src="_framework/blazor.web.js" async></script>
  <script src="@($"{cdn}esm.js")" type="module" async></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ea0a8e">
  <meta name="msapplication-TileColor" content="#ea0a8e">
  <meta name="theme-color" content="#ffffff">

  <link href="tw.output.css" rel="stylesheet" />
  <link href="@($"{cdn}css")" rel="stylesheet" />
  <link href="StatusDashboard.styles.css" rel="preload" as="style" onload="this.rel='stylesheet'" />

  <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body data-mode="light">
  <Routes @rendermode="InteractiveServer" />
</body>

</html>
