<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <base href="/" />
    <link href="app.output.css" rel="stylesheet" />
    <link href="StatusDashboard.styles.css" rel="stylesheet" />

    <link href="lib/@@telekom/scale-components/dist/scale-components/scale-components.css"
      rel="stylesheet"
    />
    <script src="lib/@@telekom/scale-components/dist/scale-components/scale-components.esm.js"
      type="module"
    ></script>

    <HeadOutlet @rendermode="InteractiveServer" />
  </head>

  <body data-mode="light">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
  </body>
</html>
