@using System.Globalization
@using StatusDashboard.Components.Event
@using StatusDashboard.Components.Home
@inject IJSRuntime JS

@{
  var cInf = new CultureInfo("en-US");
}

@if (isBegin)
{
  <label class="mb-6 text-2xl font-medium text-slate-800" @ref="labelElement">
    @curr.Start.ToUniversalTime().ToString("MMMM yyyy", cInf)
  </label>
}

<li class="border-l-2 relative flex flex-col gap-y-2.5 border-slate-300 pb-10 pl-7 last:pb-0">
  <a class="w-fit text-2xl font-medium hover:underline" href="/Event/1">
    CCE EU-DE Outage
  </a>

  <div class="flex gap-x-2.5">
    <scale-tag color="green">Resolved</scale-tag>
    <scale-tag>Cloud Container Service</scale-tag>
  </div>

  <label class="text-lg font-bold text-slate-500">
    @(DateTime.UtcNow.ToString("dd MMM, HH:mm ' - '", cInf) + 
      DateTime.Now.ToString("dd MMM, HH:mm ' UTC'", cInf))
  </label>

  <Indicator Class="absolute -left-3.5 top-0.5 bg-zinc-50" Type="EventType.Outage" />
</li>
