@page "/Event/{id:int}"
@using StatusDashboard.Components.Home
@using StatusDashboard.Components.Event

<section class="flex flex-col gap-y-4 rounded-md bg-white px-8 py-6 shadow-md">
  <div class="flex justify-between">
    <div class="flex items-center gap-x-3">
      <Indicator Type="StatusType.MajorIssue" />

      <h3 class="text-2xl font-medium text-slate-800">
        Customised Event Title
      </h3>
    </div>
    
    <EventEditor />
  </div>

  <div class="flex gap-x-2.5">
    <div class="flex flex-col gap-y-2">
      <label class="text-xl font-medium text-slate-600">
        Impact Type:
      </label>

      <label class="text-xl font-medium text-slate-600">
        Affected Regions:
      </label>

      <label class="text-xl font-medium text-slate-600">
        Affected Services:
      </label>

      <label class="text-xl font-medium text-slate-600">
        Current Status:
      </label>

      <label class="text-xl font-medium text-slate-600">
        Start At:
      </label>

      <label class="text-xl font-medium text-slate-600">
        (Plan) End At:
      </label>
    </div>

    <div class="flex flex-col gap-y-2">
      <label class="text-xl font-medium text-slate-700">
        @Enum.GetName(StatusType.MajorIssue)
      </label>

      <label class="text-xl font-medium text-slate-700">
        EU-DE
      </label>

      <label class="text-xl font-medium text-slate-700">
        Elastic Cloud Server
      </label>

      <label class="text-xl font-medium text-slate-700">
        Fixed
      </label>

      <label class="text-xl font-medium text-slate-700">
        @DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm 'UTC'")
      </label>

      <label class="text-xl font-medium text-slate-700">
        @DateTime.Now.ToString("yyyy-MM-dd HH:mm 'UTC'")
      </label>
    </div>
  </div>

</section>


@code {
  [Parameter] public int Id { get; set; }
}
