@page "/History"
@using StatusDashboard.Components.History

<PageTitle>Timeline - OTC Status Dashboard</PageTitle>

<section class="flex flex-col gap-y-2">
  <h3 class="text-3xl font-medium text-slate-800">OTC Event Timeline</h3>
  <scale-divider />
</section>

<EventSection />
<EventSection />

@code {

}
