@page "/History"
@using StatusDashboard.Components.History
@using Ljbc1994.Blazor.IntersectionObserver.Components
@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb

<PageTitle>Timeline - OTC Status Dashboard</PageTitle>

<section class="flex flex-col gap-y-2">
  <h3 class="text-3xl font-medium text-slate-800">OTC Event Timeline</h3>
  <scale-divider />
</section>

<ol class="flex flex-col">
  @foreach (var i in items)
  {
    <EventItem Item="@i" />
  }
</ol>

<IntersectionObserve @bind-IsIntersecting="isBottom">
  <div @ref="context.Ref.Current" class="-ml-3 flex gap-x-5">
    <FluentSkeleton Height="24px" Width="24px" Shape="SkeletonShape.Circle" Shimmer="true" Visible="loading" />

    <div class="flex flex-col gap-y-3">
      <FluentSkeleton Height="32px" Width="25vw" Shimmer="true" Visible="loading" />
      
      <div class="flex gap-x-2.5">
        <FluentSkeleton Height="25px" Width="5vw" Shimmer="true" Visible="loading" />
        <FluentSkeleton Height="25px" Width="10vw" Shimmer="true" Visible="loading" />
      </div>
      
      <FluentSkeleton Height="25px" Width="25vw" Shimmer="true" Visible="loading" />
    </div>
  </div>
</IntersectionObserve>
