@page "/"
@using StatusDashboard.Components.Home

<PageTitle>OTC Status Dashboard</PageTitle>

<scale-notification
  heading="All Systems Operational"
  opened
  variant="success" />

<section class="flex flex-col" id="RegionSelector">
  <div class="flex items-center justify-between">
    <label class="text-3xl font-medium text-slate-800">OTC Current Status</label>

    <scale-tab-nav>

      <scale-tab-header slot="tab">EU-DE</scale-tab-header>
      <scale-tab-panel class="hidden" slot="panel" />

      <scale-tab-header slot="tab">EU-NL</scale-tab-header>
      <scale-tab-panel class="hidden" slot="panel" />

    </scale-tab-nav>
  </div>

  <scale-divider class="p-0" />
</section>

<section class="grid-cols-1 grid gap-x-7 gap-y-8 lg:grid-cols-3 md:grid-cols-2">
  <StatusCard />
  <StatusCard />
  <StatusCard />
  <StatusCard />
</section>

<section class="flex justify-between py-2">
  <div class="flex items-center gap-x-2">
    <div class="Blink" />
    <label>Auto Refresh Enabled</label>
  </div>
  
  <div class="flex items-center gap-x-3">
    123
  </div>
</section>
