@page "/"
@using StatusDashboard.Components.Event
@using StatusDashboard.Components.Home
@using StatusDashboard.Helpers
@inherits ComponentBaseWithDb

<PageTitle>OTC Status Dashboard</PageTitle>

<scale-notification
  heading="@heading"
  opened
  variant="@(abnormalCount > 0 ? "warning" : "success")" />

<EventGrid />

<RegionSelector OnClick="onClick" Title="OTC Current Status" />

<CascadingValue Value="currentRegion">
  <section class="grid-cols-1 grid gap-x-7 gap-y-8 md:grid-cols-2 lg:grid-cols-3">
    @foreach (var cate in categories)
    {
      <StatusCard Category="cate" />
    }
  </section>
</CascadingValue>

<section class="flex flex-wrap justify-between gap-y-2 py-2">
  <div class="flex items-center gap-x-2">
    <div class="Blink" />
    <label>Auto Refresh Enabled</label>
  </div>

  <legend class="flex flex-wrap items-center gap-x-6 gap-y-2.5">
    @foreach (var state in Enum.GetValues<EventType>())
    {
      <div class="flex gap-x-2">
        <Indicator Type="state" />
        <label>@state</label>
      </div>
    }
  </legend>
</section>
